.garden {
  display: grid;
  grid-template-areas:
    "peas"
    "onions"
    "tomatoes"
    "lettuce"
    "carrots";
}

#level-1 {
  grid-template-columns: 1fr 1fr;
}

#level-2 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "peas peas"
    "onions tomatoes"
    "lettuce carrots";
}

#level-2 .peas {
  grid-area: peas;
}

#level-2 .onions {
  grid-area: onions;
}

#level-2 .tomatoes {
  grid-area: tomatoes;
}

#level-2 .lettuce {
  grid-area: lettuce;
}

#level-2 .carrots {
  grid-area: carrots;
}

#level-3 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "peas onions onions"
    "tomatoes tomatoes lettuce"
    "carrots carrots carrots";
}

#level-3 .peas {
  grid-area: peas;
}

#level-3 .onions {
  grid-area: onions;
}

#level-3 .tomatoes {
  grid-area: tomatoes;
}

#level-3 .lettuce {
  grid-area: lettuce;
}

#level-3 .carrots {
  grid-area: carrots;
}

#level-4 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "peas peas onions carrots"
    "tomatoes lettuce onions carrots";
}

#level-4 .peas {
  grid-area: peas;
}

#level-4 .onions {
  grid-area: onions;
}

#level-4 .tomatoes {
  grid-area: tomatoes;
}

#level-4 .carrots {
  grid-area: carrots;
}

#level-4 .lettuce {
  grid-area: lettuce;
}

#level-5 {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "carrots . onions . lettuce"
    "carrots . onions peas peas"
    "carrots tomatoes tomatoes tomatoes .";
}

#level-5 .peas {
  grid-area: peas;
}

#level-5 .carrots {
  grid-area: carrots;
}

#level-5 .onions {
  grid-area: onions;
}

#level-5 .lettuce {
  grid-area: lettuce;
}

#level-5 .tomatoes {
  grid-area: tomatoes;
}

#level-6 {
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
    grid-auto-rows: 5rem;
}

